@import "./colors";

#news {
  margin: 5rem 0;
  .news-block-img {
    position: relative;
    margin-bottom: 1.875rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      //zoom in effect
      background-position: center;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &:hover {
        -webkit-transform: scale(1.07);
        -moz-transform: scale(1.07);
        -o-transform: scale(1.07);
        -ms-transform: scale(1.07); /* IE 9 */
        transform: scale(1.07);
      }
    }
    div {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      @media only screen and (max-width: 768px) {
        font-size: 12px;
      }
      @media only screen and (min-width: 992px) {
        font-size: 14px;
      }
      padding: 0.938rem 0.25rem;
      font-weight: bold;
      background-color: rgba(2, 26, 78, 0.8);
    }
  }
  .blogs {
    .date {
      color: $blue;
      font-size: 14px;
    }
    p {
      color: #021a4f;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #4a4a4a;
    }
    .details {
      font-size: 16px;
      color: #021a4f;
      line-height: 1.63;
font-weight: normal;
    }
    .blog-block {
      background-color: #f3f3f3;
      padding: 1.25rem 1.25rem;
    }
    .news-border {
      border-bottom: 2px solid #d5d5d5;
    }
    .news-block {
      margin-top: 1.25rem;
      position: relative;   
    }
 
    .news-border:last-child {
      border-bottom: 0px solid #ffffff;
      .read-more {
        margin-bottom: 0;
        cursor:pointer !important;

      
      }
    }
  }
 
}
.read-more:hover .content-title{
  color: $yellow !important;
}


//image zoom effect
.column {
  margin: 15px 15px 0;
  padding: 0;
}
.column:last-child {
  padding-bottom: 60px;
}
.column::after {
  content: "";
  clear: both;
  display: block;
}
.column div {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 0 0 25px;
  padding: 0;
}
.column div:first-child {
  margin-left: 0;
}
.column div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
//statics
#statics {
  background-color: $blue;
  .info-block {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 5rem 0;
    @media only screen and (max-width: 992px) {
      margin: 3.5rem 0;
    }
    justify-content: center;
    .number,
    .info-title {
      color: $yellow;
    }
    .info-title {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1.48px;
      max-width: 75%;
    }
    .number {
      font-size: 66px;
      font-weight: bold;
      padding: 1rem 0;
    }
  }
}
#events {
  .card {
    height: 100%;
    position: relative;
    .event-img {
      position: relative;
    }
    .calender-img {
      background: url(../assets/shape-copy.png) no-repeat;
      width: 4.7rem;
      height: 4.7rem;
      background-size: contain;
      position: absolute;
      right: 0.3rem;
      top: 0.3rem;
    }
  }
  .date {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 1.59rem 0;
    line-height: 1.2;
    .day {
      font-size: 18px;
      font-weight: 800;
    }
    .month {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .card {
    @media only screen and (max-width: 992px) {
      // margin-bottom: 3rem;
    }
  }
  .line {
    width: 1.9px;
    height: 19px;
    background-color: #979797;
  }

  .read-more {
    margin-bottom: 0;
    margin-top: 2rem;
    padding-bottom: 0.813rem;
  }
}

#apply {
  position: relative;
  picture {
    img {
      height: 35rem;
      width: 100%;
      object-fit: fill;
      @media only screen and (max-width: 768px) {
        object-fit: cover;
      }
    }
  }

  .apply-title {
    text-shadow: 0 2px 4px rgba(83, 83, 83, 0.48);
    font-size: 58px;
    font-weight: 800;
    @media only screen and (max-width: 768px) {
      font-size: 30px;
      max-width: 28rem;
    }
    line-height: 1.59;
    text-align: center;
    color: $blue;
    text-align: center;
    max-width: 76rem;
  }

  .main-btn {
    margin-top: 3.75rem;
    @media only screen and (max-width: 768px) {
      font-size: 30px;
    }
  }
  .apply-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-flow: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#form {
  input{
    border-radius: 0 !important;
  }
  .form-group {
    margin-bottom: 0;
    position: relative;
    padding-bottom: 1rem;
    small {
      visibility: hidden;
      position: absolute;
      bottom: 0px;
      left: 1rem;
    }
  }
  .success input {
    border-color: #2ecc71 !important;
    margin: 0.5rem 0;
  }
  .error input {
    border-color: #e74c3c !important;
    margin: 0.5rem 0;
  }
  .success i.fa-check-circle {
    color: #2ecc71 !important;
    visibility: visible !important;
  }
  .error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible !important;
  }
  .error small {
    color: #e74c3c;
    visibility: visible;
  }
  .form-box {
    width: 59.375rem;
    margin: auto;

    padding: 5rem 6.25rem;
    background: #f7f7f7;
    @media only screen and (max-width: 992px) {
      width: 91vw;
      padding: 5rem 1.25rem;
    }
    i {
      visibility: hidden;
      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
    }
  }
  ::placeholder {
    color: #9f9f9f;
  }
  .main-btn {
    font-size: 18px;
    font-weight: bold;
  }
  .submit {
    margin-top: 1rem;
    .main-btn {
      font-size: 18px;
      font-weight: bold;
      padding: 0.875rem 2.5rem;
      padding: 0.875rem 2.5rem;
    }
  }
}
.iti{
  width: 100%;
}

.max-char{
  color: #5f5f5f;
}

 