@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
  outline: none;
}

.scrolled {
  -webkit-box-shadow: 3px 3px 3px #f3f3f3;
          box-shadow: 3px 3px 3px #f3f3f3;
}

.scrolled .upper-nav {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

header,
.upper-nav {
  background-color: #fff;
}

header .upper-nav,
.upper-nav .upper-nav {
  visibility: visible;
  opacity: 1;
  height: 100%;
}

header .inner-container,
.upper-nav .inner-container {
  margin: 2vh 0;
}

@media only screen and (max-width: 992px) {
  header .inner-container,
  .upper-nav .inner-container {
    margin: 0;
  }
}

header .social-links .social-links:nth-child(5),
.upper-nav .social-links .social-links:nth-child(5) {
  margin-right: 1.875rem;
}

header .social-links li,
.upper-nav .social-links li {
  margin: 0 0.313rem;
}

header .social-links .search-icon,
.upper-nav .social-links .search-icon {
  width: 25px;
  height: 25px;
  background-color: unset;
  color: #b6b6b6;
  font-size: 25px;
  margin-left: 2vw;
}

header nav,
.upper-nav nav {
  background-color: #021a4e !important;
  padding: 0 !important;
}

@media only screen and (max-width: 992px) {
  header nav,
  .upper-nav nav {
    background-color: white !important;
  }
}

header nav .nav-links,
.upper-nav nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 78%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-links .nav-link,
.upper-nav nav .nav-links .nav-link {
  color: white !important;
  font-size: 14px;
  padding: 0 !important;
  margin: 0.6rem 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  header nav .nav-links .nav-link,
  .upper-nav nav .nav-links .nav-link {
    color: #021a4e !important;
  }
}

header nav .search-box-mb button:hover,
.upper-nav nav .search-box-mb button:hover {
  background-color: #021a4e;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0.6s;
  transition: all 0.3s ease 0.6s;
}

.search svg {
  cursor: pointer;
  margin: 20px;
  width: 18px;
  height: 18px;
  display: block;
  color: #b6b6b6;
  stroke-width: 2;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  -webkit-transition: all 0.3s ease 0.6s;
  transition: all 0.3s ease 0.6s;
}

.search > div {
  position: relative;
  width: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.5s;
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.5s;
}

.search > div input {
  font-size: inherit;
  line-height: inherit;
  padding: 0 24px 0 0;
  border: 0;
  display: block;
  outline: none;
  font-family: inherit;
  position: absolute;
  line-height: 20px;
  font-size: 16px;
  background: #fff;
  -webkit-appearance: none;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

.search > div input::-webkit-input-placeholder {
  color: #b6b6b6;
}

.search > div input:-moz-placeholder {
  color: #b6b6b6;
}

.search > div input::-moz-placeholder {
  color: #b6b6b6;
}

.search > div input:-ms-input-placeholder {
  color: #b6b6b6;
}

.search > div > div {
  white-space: nowrap;
  color: #b6b6b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search > div > div span {
  line-height: 20px;
  font-size: 16px;
  opacity: 0;
  display: block;
  visibility: hidden;
  -webkit-transform: translate(0, 12px);
          transform: translate(0, 12px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search > div > div span:nth-child(1) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.search > div > div span:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.search > div > div span:nth-child(3) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.search.open {
  cursor: default;
  border-radius: 8px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-box-shadow: 0 0px 6px -2px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0px 6px -2px rgba(0, 0, 0, 0.18);
}

@media only screen and (max-width: 768px) {
  .search.open {
    background-color: #fff;
    margin: 1.5rem 0;
  }
}

.search.open svg {
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.search.open > div {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  width: 200px;
}

.search.open > div > div span {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.search.open > div > div span:nth-child(1) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.search.open > div > div span:nth-child(2) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.search.open > div > div span:nth-child(3) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.search.open > div input {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.1rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hover:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#phone-search {
}

#phone-search .card {
  width: 500px;
  border: none;
  border-radius: 20px;
}

#phone-search .form-control {
  border-radius: 7px;
  border: 1.5px solid #e3e6ed;
}

#phone-search input.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1.5px solid #e3e6ed;
  background-color: #f7f8fd;
  letter-spacing: 1px;
}

#phone-search .btn-primary {
  background-color: #5878ff !important;
  border-radius: 7px;
}

#phone-search .btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#phone-search .text {
  font-size: 13px;
  color: #9ca1a4;
}

#phone-search .price {
  background: #f5f8fd;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 97px;
}

#phone-search .flex-row {
  border: 1px solid #f2f2f4;
  border-radius: 10px;
  margin: 0 1px 0;
}

#phone-search .flex-column p {
  font-size: 14px;
}

#phone-search span.mb-2 {
  font-size: 12px;
  color: #8896bd;
}

#phone-search h5 span {
  color: #869099;
}

@media screen and (max-width: 450px) {
  #phone-search .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #phone-search .price {
    border: none;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .sticky-full .nav-links .nav-link {
    margin: 1.5rem 0;
  }
}
/*# sourceMappingURL=header.css.map */